@import 'reset/reset';


html{
    overflow:hidden;
    transform: translateZ(0px);
    background: #1e1e1e;  
}

body{
  transform: translateZ(0px);
  height: 100%;
  background: #1e1e1e;
}

#root{
  position: absolute;
  left:0;right:0;
  transform: translateZ(0px);
  overflow-y: auto;
  height: 100%;
  background: #1e1e1e;
  
}


@font-face {
    font-family: 'robotoblack';
    src: url('./font/Roboto-Black-webfont.eot');
    src: url('./font/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/Roboto-Black-webfont.woff') format('woff'),
         url('./font/Roboto-Black-webfont.ttf') format('truetype'),
         url('./font/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}


html,body,input,button,a,#custom-menu-area{
    font-family: robotoblack;
}


input,
button{
    outline:0;
    border:0;
    padding:0.7em 1.6em;
   
    font-size: 1em;
    margin-bottom: 5px;
    letter-spacing: 3px;

    border:3px solid #ccc;
    border-radius: 30px;
   
    
    &.active{
      border-color: greenyellow;
    }

    &:hover{
        border-color:#fff !important;
        cursor: pointer;
        color:#fff;
    
    }
}



/* width */
::-webkit-scrollbar {
    width: 20px;
    background:#111;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #000; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 1px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888; 
  }



  //components


  .pdf-container {
  
      background: #2b2929;
      text-align: center;
  
  }
  .pdf-controls span {
    font-size: 10px;
    display: block;
    padding: 20px 0;
    
}