.Pin{
    text-align: center;
    a{
        display: block;
        width: 100%;
    }
    input[type="text"]{
        display: block;
    }

   input[type="password"]{
       font-size: 32px;
       display: inline-block;
       width: 64px;
       height: 64px;
       border:2px solid transparent;
       margin-right: 5px;
       background: #111;
       color: #FFF;
       user-select: none;
       text-align: center;
       caret-color : #111;
       padding:0;
       border-radius: 3px;
       outline: 0;
       &:focus{
         outline: 0;
         border-color: white;
       }
       &:hover{
        border-color: #333;
        &:focus{            
            border-color: white;
        }
       }
   }
}