<html>

<head>
    <meta http-equiv="Content-Security-Policy" 
        content="
        
          img-src 'self' blob: data:;
          default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
</head>
<body>
    <div id="menuarea"></div>
    <div id="root"></div>
</body>


    <!-- Scripts-->
    <!-- Script Out
    <% htmlWebpackPlugin.files.js.forEach(function(file){ %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
    End Script-->
    <!-- Scripts-->

    <script>
		


		//disable right click
		//window.addEventListener('contextmenu', (event) => event.preventDefault());
		
		/*bindings*/
		
		 //navigate("https://duckduckgo.com")
		// quit()
		// add(10,20)

		window.onload = function() {
	
	sock = new WebSocket("ws://127.0.0.1:9097/ws");
	
		sock.onopen = function() {
			console.log("connected");
		}
	
		sock.onclose = function(e) {
			console.log("connection closed");
		}
	
		sock.onmessage = function(e) {  
			
			var json = JSON.parse(e.data);
			console.log("new msg",json);     
            
			val = {
                Action: 100,
                Msg:    "foo"
            }
            sock.send(JSON.stringify(val));
		}
	
		};
	</script>
</html>